@font-face {
  font-family: 'iconfont';  /* Project id 3076635 */
  src: url('//at.alicdn.com/t/font_3076635_4361ucemycm.woff2?t=1641437295288') format('woff2'),
       url('//at.alicdn.com/t/font_3076635_4361ucemycm.woff?t=1641437295288') format('woff'),
       url('//at.alicdn.com/t/font_3076635_4361ucemycm.ttf?t=1641437295288') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'PingFang';
  src: url('./font/PingFang\ SC\ Regular.ttf');
}